* {
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  line-height: 1.3;

  border: 0;
  outline: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

img {
  max-width: 100%;
}

:root {
  --green-clr: #19a846;
  --white-clr: #f2f2f2;
  --box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.7);
  --logo-fz: calc(18px + (30 - 18) * ((100vw - 300px) / (1600 - 300)));
  --biggest-fz: calc(30px + (80 - 30) * ((100vw - 300px) / (1600 - 300)));
  --large-fz: calc(20px + (35 - 20) * ((100vw - 300px) / (1600 - 300)));
  --medium-fz: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  --small-fz: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
  --number-icons: calc(25px + (40 - 25) * ((100vw - 300px) / (1600 - 300)));
}

body {
  --sb-track-color: #222;
  --sb-thumb-color: #19a846;
  --sb-size: 1.2rem;
  background: #222;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1rem;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1rem;
}

section {
  padding: 2rem 9%;
}

.btn {
  display: inline-block;
  margin: 1rem 1.5rem 0rem;
  border-radius: 5rem;
  color: var(--green-clr);
  background-color: var(--white-clr);
  font-size: var(--medium-fz);
  padding: 1rem 3rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--green-clr);
  color: var(--white-clr);
}

.heading {
  margin-bottom: 2rem;
  text-align: center;
  color: var(--white-clr);
  font-size: var(--biggest-fz);
}

.heading span {
  color: var(--green-clr);
}

/* header section */

header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  background: #151515;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 9%;
  box-shadow: var(--box-shadow);
  z-index: 9999999;
}

header .logo {
  font-size: var(--logo-fz);
  color: var(--green-clr);
}

header .logo .fa-fire {
  color: var(--white-clr);
  font-size: var(--logo-fz);
}

header .navbar {
  display: flex;
}

header .navbar li {
  margin: 0em 1.5rem;
}

header .navbar li a {
  font-size: 15px;
  color: var(--white-clr);
  transition: 0.3s;
  padding: 0.7rem;
  background: linear-gradient(#19a846 0 0) 0 0, linear-gradient(#19a846 0 0) 0 0,
    linear-gradient(#19a846 0 0) 100% 100%,
    linear-gradient(#19a846 0 0) 100% 100%;
  background-repeat: no-repeat;
  background-size: 1.5rem 0.2rem, 0.2rem 1.5rem;
}

header .navbar li a:hover {
  color: var(--green-clr);
  background-position: 100% 0%, 0% 100%, 0% 100%, 100% 0%;
}

#menu-btn {
  color: var(--green-clr);
  font-size: 15px;
  cursor: pointer;
  border: 0.1rem solid var(--green-clr);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  display: none;
}

/* menu cet end  */

/* home section start */

.home {
  margin-top: 7rem;
}

.home,
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 1.5rem;
}

.home,
.row,
.content {
  flex: 1 1 40rem;
  text-align: center;
}

.home .row .content h3 {
  color: var(--green-clr);
  margin-bottom: 1rem;
  font-size: var(--biggest-fz);
}
.home .row .content p {
  margin-bottom: 1.5rem;
  color: var(--white-clr);
  font-size: var(--medium-fz);
  text-align: justify;
}

.home .row .img {
  flex: 1 1 40rem;
}

img {
  border: 4px solid var(--green-clr);
  border-radius: 300px;
}

/* home sec end */

/* numer sec start  */

.number .box-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.number .box-conteiner .box {
  flex: 1 1 25rem;
  background: var(--green-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 0.5rem;
  gap: 2rem;
  box-shadow: var(--box-shadow);
}
.number .box-conteiner .box i {
  font-size: var(--number-icons);
  color: var(--white-clr);
}

.number .box-conteiner .box .content {
  font-size: var(--medium-fz);
  color: var(--white-clr);
}

/* number sec :end*/

/* ----------------эбаут секция--------- */

.about {
  margin-top: 7rem;
}

.about,
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.about,
.row,
.img,
img {
  object-fit: cover;
}

.about,
.row,
.img {
  flex: 1 1 40rem;
  object-fit: cover;
}

.about .row,
.content {
  flex: 1 1 40rem;
  color: var(--white-clr);
  text-align: justify;
}

.about .row .content,
h3 {
  font-size: var(--biggest-fz);
  color: var(--green-clr);
}
.about .row .content,
p {
  font-size: var(--medium-fz);
  margin-bottom: 2rem;
}

/* ---------------------ser sec-------- */

.services .slide {
  width: 30rem;
  background-color: var(--white-clr) ;
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 4rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  height: 55rem;
}

.services .slide img {
  height: 25rem;
}

.services .slide h2 {
  margin: 1.5rem 0;
  font-size: var(--large-fz);
}

.services .slide p {
  font-size: var(--small-fz);
  text-align: center;
}

.swiper-pagination-bullet-active {
  background-color: var(--green-clr) !important;
}



/* -------------------------creators---------- */

.creators .slide {
  width: 30rem;
  background-color: var(--white-clr);
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 4rem;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  height: 55rem;
}

.creators .slide img {
  height: 25rem;
  width: 25rem;
  object-fit: cover;
}

.creators .slide h3 {
  margin: 1.5rem;
  font-size: var(--large-fz);
}

.creators p {
  text-align: justify;
  font-size: var(--small-fz);
  padding: 1rem;
}

/* ------------------------------------rev-------------- */

.review .slide {
  width: 35rem;
  background-color: var(--white-clr);
  padding: 2rem;
  margin-bottom: 4rem;
  border-radius: 0.5rem;
  height: 40rem;
}

.review .slide p {
  font-size: var(--small-fz);
}

.review .slide .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.review .slide img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
}

.review .slide .user-info .stars i {
  font-size: 1.5rem;
  color: var(--green-clr);
}

/* -------contact------- */

.contacts .raw {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.contacts .raw,
.img {
  flex: 1 1 40rem;
}

.contacts .raw,
form {
  flex: 1 1 40rem;
}

.contacts .raw form .box {
  margin: 1rem 0rem 2rem;
  border-radius: 0.5rem;
  width: 100%;
  background-color: var(--white-clr);
  font-size: var(--small-fz);
  padding: 0.5rem 1rem;
}

.contacts .raw form textarea.box {
  height: 15rem;
  resize: none;
}

.contacts .raw form span {
  font-size: var(--small-fz);
  color: var(--white-clr);
}

/* -----footer--- */
footer {
  text-align: center;
  margin-top: 3rem;
}

footer .share a {
  margin: 0rem 0.3rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  font-size: var(--medium-fz);
  color: var(--green-clr);
  background-color: var(--white-clr);
  transition: 0.3s;
}

footer .share a:hover {
  transform: translateY(-1rem);
  box-shadow: var(--box-shadow);
}

hr {
  width: 100%;
  border: 0.1rem solid black;
  margin: 2rem 0rem;
}

footer .copyright {
  color: #ddd;
  font-size: var(--medium-fz);
}

footer .copyright span {
  color: var(--green-clr);
}


/* media  */

@media (max-width: 768px) {
  #menu-btn {
    display: block;
  }
  header {
    padding: 1rem 2rem;
  }

  header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid var(--white-clr);
    border-bottom: 0.1em solid var(--white-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    background-color: #0e0e0e;
  }

  header .navbar li {
    margin: 2rem;
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

